.u-section-1 {background-image: url("images/site_BG.png")}
.u-section-1 .u-sheet-1 {min-height: 100vh}
.u-section-1 .u-text-1 {font-family: "Carter One"; font-size: 2.25rem; text-shadow: 2px 2px 8px rgba(0,0,0,0.4); margin: 251px auto 0 19px}
.u-section-1 .u-image-1 {width: 1598px; height: 823px; animation-duration: 1000ms; margin: -11px auto 0 -208px}
.u-section-1 .u-video-1 {width: 629px; height: 354px; margin: -538px auto 0}
.u-section-1 .u-text-2 {font-size: 7.5rem; font-weight: 700; font-family: "Carter One"; text-shadow: 2px 2px 8px rgba(0,0,0,0.4); margin: -635px 659px 0 0}
.u-section-1 .u-text-3 {font-size: 1.25rem; background-image: none; text-shadow: 2px 2px 8px rgba(0,0,0,0.4); margin: 0 auto 0 0}
.u-section-1 .u-btn-1 {background-image: none; font-weight: 700; text-transform: uppercase; letter-spacing: 2px; border-style: none; font-size: 0.625rem; animation-duration: 1000ms; margin: 26px auto 0 34px; padding: 10px 57px 10px 56px}
.u-section-1 .u-social-icons-1 {height: 32px; min-height: 16px; width: 116px; min-width: 68px; white-space: nowrap; margin: 10px auto 60px 80px}
.u-section-1 .u-icon-1 {height: 100%}
.u-section-1 .u-icon-2 {height: 100%}
.u-section-1 .u-icon-3 {height: 100%} 

@media (max-width: 1199px){ .u-section-1 {min-height: 100vh}
.u-section-1 .u-text-1 {width: auto; margin-top: 143px; margin-left: 16px}
.u-section-1 .u-image-1 {width: 940px; height: 484px; margin-top: 454px; margin-left: 50px}
.u-section-1 .u-video-1 {margin-top: -611px; margin-left: 155px}
.u-section-1 .u-text-2 {width: auto; margin-top: -688px; margin-right: 459px}
.u-section-1 .u-text-3 {width: auto}
.u-section-1 .u-btn-1 {margin-left: 0}
.u-section-1 .u-social-icons-1 {margin-top: 16px; margin-left: 46px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 972px}
.u-section-1 .u-text-1 {margin-left: 12px}
.u-section-1 .u-image-1 {width: 720px; height: 371px; margin-top: 183px; margin-left: -98px}
.u-section-1 .u-video-1 {margin-top: -190px; margin-left: auto}
.u-section-1 .u-text-2 {margin-top: -725px; margin-right: 239px}
.u-section-1 .u-social-icons-1 {margin-top: 12px; margin-left: 45px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 729px}
.u-section-1 .u-text-1 {margin-top: 89px; margin-left: auto}
.u-section-1 .u-image-1 {height: 278px; margin-top: 697px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-video-1 {margin-top: -647px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-text-2 {font-size: 4.5rem; margin-top: -689px; margin-right: 155px; margin-left: 175px}
.u-section-1 .u-text-3 {margin-top: 7px; margin-right: 44px; margin-left: auto}
.u-section-1 .u-btn-1 {font-size: 1.25rem; margin-top: 14px; margin-left: auto; padding: 32px 109px 32px 108px}
.u-section-1 .u-social-icons-1 {margin-top: 15px; margin-left: 212px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 459px}
.u-section-1 .u-image-1 {height: 175px; margin-top: 724px; width: auto; margin-right: initial; margin-left: initial}
.u-section-1 .u-video-1 {height: 239px; width: 422px; margin-top: -442px; margin-left: -41px; margin-right: -41px}
.u-section-1 .u-text-2 {margin-top: -703px; margin-right: 0; margin-left: 75px}
.u-section-1 .u-text-3 {margin-top: 40px; margin-left: 0; margin-right: 0}
.u-section-1 .u-btn-1 {margin-top: 51px; padding: 23px 77px 24px 76px}
.u-section-1 .u-social-icons-1 {margin-top: 40px; margin-left: 112px} }